# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# VS Braille
.vscode/

# Docker
.docker/

# DB
*.db
*.sqlite3

# Ollama (large model files)
ollama_data/

# Postgres data
postgres_data/

# Environment
.env
.env.local

# macOS
.DS_Store

# IDE
.idea/
*.iml
